@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/fonts" as *;


* {
    font-family: $font-regular;
    text-decoration: none;
    list-style: none;
    margin: 0;
}

h5 {
    font-size:0.6875rem;
    line-height: 1rem;
    color: $secondary-main;
    margin:0 0 0.25rem 0;
}

p {
    font-size: 0.6875rem;
    line-height: 1rem;
    margin: 0;
    color: $secondary-main;
    text-transform: uppercase;
}

.job {
    &__main {
        font-size: 1.3rem;
        text-align: center;
        color:$primary-main;
        margin-top: 1rem;
    }

    &__horizontal {
        display: none;
    }

    &__items {
    padding: 1rem;

    &-title {
        color: $primary-main;
    }

    &-detail {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: solid 1px $primary-main;
        border-radius: 1.25rem;
        padding: 1rem 1rem 0 1rem;

        &:hover {
            background-color: $secondary-accent;
        }

        &--list {
            width: 49%;
            margin-bottom: 1rem;

            &:nth-child(2){
                order: 2;
            }
            &:nth-child(4){
                order: 4;
            }
        }
    }

    &-name {
        color: $primary-main;
        font-weight: 600;
    }

    &-arrow {
        width: 1rem;
    }
}
}

@include tablet {
    h5 {
        font-size:0.85rem;
        line-height: 1.5rem;
    }
    
    p {
        font-size: 0.75rem;
        line-height: 1.5rem;
    }
    
    .job {
        &__main {
            font-size: 1.3rem;
            text-align: center;
            color:$primary-main;
            margin: 1rem 0;
        }
    }
    
    .job__horizontal {
        display: flex;
        justify-content: space-between;
        padding: 0 3rem;
        background-color: $background-lightgrey;    

        &-label {
            display: flex;
            justify-content: center;
            width: 25%;

            &--title {
                color: $primary-main;
            }
        }
    }
    
    .job__items {
        display: flex;
        padding: 1.5rem 2rem;
    
        &-title {
            display:none;
        }

        &-detail {
            flex-wrap: nowrap;
            width: 100%;
    
            &--list {    
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25%;
                
    
                &:nth-child(2){
                    order: 2;
                }
                &:nth-child(3){
                    order: 2;
                }
            }
        }
    }
}

@include tablet {
    h5 {
        font-size:1rem;
        line-height: 1.5rem;
    }

    p {
        font-size: 0.75rem;
    }
    
    .job {
        &__main {
            font-size: 2rem;
            margin: 1rem 0;
        }
    }
}

@include desktop {
     
    h5 {
        font-size: 1.5rem;
    }
    
    p {
        font-size: 0.85rem;
    }
    .job {
        &__main {
            font-size: 3rem;
            text-align: center;
            color:$primary-main;
            margin: 2rem 0
        }
    }
}