// Primary
$primary-black: #13182C;
$primary-indigo: #2e66e5;
$primary-white: #ffffff;

// Secondary
$secondary-slate: #5c667e;
$secondary-cloud: #bdc5d5;
$secondary-alabaster: #fafafa;

// Background
$background-graphite: #232940;
$background-lightgrey: #f7f8f9;

// Supporting
$supporting-instock: #158463;
$supporting-outofstock: #c94515;