@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/fonts" as *;


* {
    @include default;
}

video {  
    object-fit: cover;
    width: 100vw;
    height: 75vh;
    position: absolute;
    z-index: -100;
    opacity: 0.5;
}

.main {
    margin: 0 auto;
    width: 100vw;
    height: 90vh;

    
    &__banner{
        height: 62.5vh;
    }

    &__banner-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        height: 50vh;

        &--title {
            font-size: 2rem;
            color: $primary-main;
            @include textshadow-white;
        }

        &--description {
            font-size: 0.7rem;
            text-align: center;
            color: $primary-white;
            background-color: rgba($secondary-cloud, 0.8);
        }
    }

    &__job {
        &-photo {
            display: none;
        }
        &-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            height: 30vh;
            background-color: rgba($primary-main, 0.8);

            &--title {
                font-size: 1.2rem;
                color: $primary-white;
                
            }
            &--link {
                color: $primary-main;
                font-size: 0.685rem;
                font-weight: 600;
                height: 2.5rem;
                width: 50vw;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 2rem;
                background-color: rgba($primary-white, 0.8);
                border-radius: 1.25rem;
                
                &:hover {
                    background-color: $primary-main;
                    color:$primary-white;
                    border: 2px solid $primary-white;
                }
            }
        }
    }
}

@include tablet {
    .main {
        height: 98vh;
        &__banner-content {
            
            &--title {
                font-size: 3rem;
            }
    
            &--description {
                font-size: 0.85rem;
            }
        }

        &__job {
            height: 36vh;

            &-container{
                height: 36vh;
                display: flex;
                flex-direction: row;
                
            
            }

            &-photo {
                display: flex;
                width: 50%;
                justify-content: center;
                height: 32vh;
                background-color: $primary-white;
         

                &--img {
                    background: no-repeat url("../../assets/images/money.jpg");
                    background-size: cover;
                    width: 85%;
                    margin: 1rem 0;
                    height: 100%;
                    border-radius: 2rem;
   
                }
            }

            &-content{
                align-items: center;
                width: 50%;
                height: 36vh;
                background-color: $primary-white;

                &--title {
                    color: $primary-main;
                    font-size: 1.5rem;;
                }

                &--link {
                    width: 40vw;
                    display: flex;
                    border: solid 1px $primary-main;
                    font-size: 1rem;
                }
            }
        }
    }

}

@include desktop {
    .main {
        height: 98vh;
        &__banner-content {
            &--title {
                font-size: 5rem;
            }
        
            &--description {
                font-size: 1.5rem;
            }
        }

        &__job {
            &-photo{
                &--img{
                    background-size: cover;
                    width: 60%;

                }
            }
        }
    }
}
