@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/fonts" as *;


* {
    font-family: $font-regular;
    text-decoration: none;
    list-style: none;
    margin: 0;
}

.header {
    margin: 0 auto;
    width: 100%;
    background-color: $primary-white;
    text-align: center;
    height: 4.5rem;
    
    &__links {
        display: none;
    }

    &__logo-img {
        width: 40%;
        height: 2.5rem;
        margin-top: 1rem;
    }
}

@include tablet {
    .header{
        height: 3.5rem;
        display: flex;
        justify-content: space-between;

        &__logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 40%;
        }

        &__logo-img{
        margin: 0 1rem;
        height: 3rem;  
        width: 100%;  
        }


        &__links {
            display: flex;  
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 60%;

            &-item {
                font-size: 0.7rem;
                color: $primary-main;
                line-height: 1.25rem;
                font-weight: 600;
                padding: 0.5rem 1rem;
                

                &:hover {
                    background-color: $primary-main;   
                    color:$primary-white;
                    border-radius: 1.25em;
                    border: solid 1px $primary-main
                }
            }
        }
    }
}

@include desktop {
    .header{
        height: 3.5rem;
        display: flex;
        justify-content: space-between;
        
        &__logo-img {
            width: 10vw;
            margin: 0 2rem;
            height: 2.5rem;
        }

        &__links {
            &-item {
                font-size: 0.85rem;
            }
        }
    }
}