@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/fonts" as *;


* {
    font-family: $font-regular;
    text-decoration: none;
    list-style: none;
    margin: 0;
}

.footer {
    background: $primary-white;
    height: 2rem;
    
    &__container {
        margin: 0 1rem;
        text-align: center;
    

        &-content{
            font-size: 0.8rem;
            color: $primary-main;
            font-weight: 500;
    
        }
    }
}

@include tablet {
    .footer {
        position: relative;
        background: rgba($primary-main,0.8);

        

        &__container {

            &-content{
                font-size: 1rem;
                color: $primary-white;
            }
        }
    }
}

