@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use "../../styles/partials/breakpoints" as *;

* {
    font-family: "Titillium Web", Verdana, Tahoma, sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
}

p {
    color: $secondary-main;
}

.jobdetail {
    margin:  1rem;
    height: 100vh;
    display: flex;
    align-items: center;
    height: 80vh;
    background-color: $secondary-accent;
    justify-content: center;

    &__container {
        background-color: $primary-white;
        color: $primary-main;
        padding: 1rem;
        width: 80vw;
    }

    &__title {
        font-size: 1.2rem;
        text-align: center;
        border-bottom: 1px solid $secondary-accent;
        padding-bottom: 1rem;

    }
}

.job{
    
    &__content {
        text-transform: uppercase;
        

        &-title {
            font-size: 1rem;
            margin: 0.5rem 0;
            padding-bottom: 0.5rem;
            color: $secondary-accent;
            text-align: center;
            
        }
    }

    &__sub-part1 {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__info-lists {
        display: flex;
        gap: 0.5rem;

        &--label {
            width: 50%;
            text-align: center;
            font-size: 0.8rem;

        }

        &--content {
            width: 50%;
            text-align: center;
            text-transform: capitalize;
            font-size: 0.685rem;
        }
    }
    &__sub-part2{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        &--label {
            margin: 0.5rem 0;
            font-size: 0.8rem;
        }

        &--content {
            border: solid 1px $secondary-accent;
            border-radius: 1.25rem;
            height: 8rem;
            padding: 1rem;
            text-transform: capitalize;
        }
    }
}

@include tablet {
    .jobdetail {
        margin:  2rem;

        &__title {
            font-size: 2rem;
        }
    }
    
    .job{
        
        &__content {

            &-title {
                font-size: 1.2rem;
                margin: 1rem 0;
                padding-bottom: 1rem;
            }
        }

        &__info-lists {
            display: flex;
            gap: 0.5rem;
            font-size: 0.85rem;
        }

        &__sub-part2{
            display: flex;
            flex-direction: row;
            font-size: 0.85rem;
            justify-content: space-between;
            align-items: center;
            text-align: center;
    
            &--label {
                margin: 1rem 0;
                width: 50%;
            }

            &--content {
                width: 50%;
                height: 10rem;
            }
        }
    }
}

@include desktop {
    .jobdetail {
        margin:  3rem;

        &__title {
            font-size: 3rem;
        }
    }
    
    .job{
        
        &__content {
            padding: 1rem;

            &-title {
                font-size: 2rem;
                margin: 2rem 0;
            }
        }

        &__info-lists {
   
            &--label {
                font-size: 1.2rem;;
            }

            &--content {
                font-size: 1rem;
            }

    
            
        }

        &__sub-part2{
    
            &--label {
                margin: 2rem 0;
                font-size: 1.2rem;
            }
            &--content {
                font-size: 1rem;
                height: 12rem;
            }
        }
    }
}